.banner-about {
    width: 100%;
}

.section-header {
    margin-top: 75px;
}

.section-about-us h1 {
    font-size: 35pt;
    font-weight: 900;
    text-align: center;
  
}

.section-about-us p {
    text-align: justify;
    margin-bottom: 40px;
}