.section-login {
   padding-top: 20px;
    background-color: #f4f4ff;
    height: 600px;
}

.section-login h1 {
    padding-top: 120px;
    text-align: center;
    font-size: 25pt;
}

.container-login {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.form-login {
    margin: 20px;
}